[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_scaleout
X-KDE-ParentComponents=kwin4_effect_scaleout
X-KDE-PluginKeyword=scaleout

Name=Scale Out
